<div class="flex justify-center items-center w-full mt-5 mb-10">
    <div class="w-1/2 bg-white border border-gray-300 rounded-md">
        <div class="flex items-center px-4 py-3 border-b border-gray-200 space-x-2">
            <i class="fad fa-code text-xl text-gray-700"></i>
            <h3 class="font-bold text-gray-700 m-0 text-xl">Control de Versiones</h3>
        </div>
        <div *ngFor="let datos of lstHistorialCambios; let last = last" class="p-3" [ngClass]="{ 'border-b border-gray-200': !last }">
            <div class="relative pl-8">
                <div class="relative">
                    <div class="absolute -left-8 -top-0.5 flex items-center justify-center w-10 h-10 rounded-full bg-white border border-gray-300">
                        <i class="fad fa-edit text-gray-700"></i>
                    </div>
                    <div class="ml-4">
                        <div class="mb-3">
                            <div class="text-lg font-semibold mb-2 text-gray-900">Versión {{datos.version}}</div>
                            <div class="flex items-center text-sm text-gray-500">
                                <span class="mr-2">Publicado a las {{datos.fecha_hora_publicacion}} por</span>
                                <div class="w-6 h-6 rounded-full overflow-hidden" title="Edwin Luján Meléndez"><img src="assets/img/mp_neutro.png" alt="img" /></div>
                            </div>
                        </div>
                        <div *ngFor="let dat of datos.descripcion" class="flex pr-5">
                            <span class="flex-shrink-0 w-2 h-2 mt-2 rounded-full bg-gray-600 mr-3"></span>
                            <div class="text-gray-700 font-semibold text-sm text-justify pb-2">{{ dat }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>