<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-fluid" style="display: flex; justify-content: center; align-items: center;">
        <div class="card" style="width: 50%;">
            <div class="card-header card-header-stretch">
                <div class="card-title d-flex align-items-center">
                    <i class="ki-duotone ki-devices-2 text-primary me-3 lh-0" style="font-size: 2.50rem !important;"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                    <h3 class="fw-bold m-0 text-gray-800">Control de Versiones</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div id="kt_activity_today" class="card-body p-0 tab-pane fade show active" role="tabpanel" aria-labelledby="kt_activity_today_tab">
                        <div class="timeline timeline-border-dashed">
                            <div class="timeline-item">
                                <div class="timeline-line"></div>
                                <div class="timeline-icon">
                                    <i class="ki-duotone ki-pencil fs-2 text-gray-500"><span class="path1"></span><span class="path2"></span></i>
                                </div>
                                <div class="timeline-content mb-10 mt-n1">
                                    <div class="pe-3 mb-5">
                                        <div class="fs-5 fw-semibold mb-2">Versión 2.2</div>
                                        <div class="d-flex align-items-center mt-1 fs-6">
                                            <div class="text-muted me-2 fs-7">Publicado a las 11:22:00 PM del 27/08/2025 por</div>
                                            <div class="symbol symbol-circle symbol-25px" data-toggle="tooltip" title="Edwin Luján">
                                                <img src="assets/img/mp_neutro.png" alt="img" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overflow-auto">
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Se solucionó sobre la diferencia entre Soles y Porcentajes al aplicar descuento en la Intranet, <br> CORREO: INTRANET | PROMOCIÓN IDA Y VUELTA.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-line"></div>
                                <div class="timeline-icon">
                                    <i class="ki-duotone ki-pencil fs-2 text-gray-500"><span class="path1"></span><span class="path2"></span></i>
                                </div>
                                <div class="timeline-content mb-10 mt-n1">
                                    <div class="pe-3 mb-5">
                                        <div class="fs-5 fw-semibold mb-2">Versión 2.1</div>
                                        <div class="d-flex align-items-center mt-1 fs-6">
                                            <div class="text-muted me-2 fs-7">Publicado a las 18:00 PM del 15/08/2025 por</div>
                                            <div class="symbol symbol-circle symbol-25px" data-toggle="tooltip" title="Edwin Luján">
                                                <img src="assets/img/mp_neutro.png" alt="img" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overflow-auto">
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Mejora en el módulo de "Operaciones > Consulta de Boletos", agregando el historial de cambios por cada boleto, los transbordos encontrados que se realizaron por cada boleto, 
                                                    también permite descargar todos los PDFs encontrados, ya sean boletos, postergaciones o confirmaciones.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-line"></div>
                                <div class="timeline-icon">
                                    <i class="ki-duotone ki-pencil fs-2 text-gray-500"><span class="path1"></span><span class="path2"></span></i>
                                </div>
                                <div class="timeline-content mb-10 mt-n1">
                                    <div class="pe-3 mb-5">
                                        <div class="fs-5 fw-semibold mb-2">Versión 2.0</div>
                                        <div class="d-flex align-items-center mt-1 fs-6">
                                            <div class="text-muted me-2 fs-7">Publicado a las 00:01 AM del 09/07/2025 por</div>
                                            <div class="symbol symbol-circle symbol-25px" data-toggle="tooltip" title="Edwin Luján">
                                                <img src="assets/img/mp_neutro.png" alt="img" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overflow-auto">
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Se habilitó la búsqueda por "OBSERVACIONES" en el Reporte de Ventas, no se visualiza en la tabla por tema de dimensiones en el diseño, pero permite su búsqueda en el cuadro de texto.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Se agregó las ventas por PagoEfectivo <img src="./assets/img/pago-efectivo2.png" style="width: 13.5%;">, para Ventas mayores e iguales a S/. 86.00</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Se separó la visualización de Cantidad de Ventas y Montos de PagoLink y PagoEfectivo, cada uno por separado en el Reporte de Ventas.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Se agregaron las promociones por Descuentos por RUC y también Descuentos por Tarjeta.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">No se pueden acumular Promociones en una Venta.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Al realizar una Venta, en el apartado de llenar los Datos del Pasajero, aparecen las Promociones automáticamente de acuerdo a al Itinerario, Ruta, Fecha de Viaje y Tipo de Servicio.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Se modificó el modelo del formato de PagoLink que se envía como correo al Pasajero.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-line"></div>
                                <div class="timeline-icon">
                                    <i class="ki-duotone ki-pencil fs-2 text-gray-500"><span class="path1"></span><span class="path2"></span></i>
                                </div>
                                <div class="timeline-content mb-10 mt-n1">
                                    <div class="pe-3 mb-5">
                                        <div class="fs-5 fw-semibold mb-2">Versión 1.2</div>
                                        <div class="d-flex align-items-center mt-1 fs-6">
                                            <div class="text-muted me-2 fs-7">Publicado a las 02:00 AM del 05/05/2025 por</div>
                                            <div class="symbol symbol-circle symbol-25px" data-toggle="tooltip" title="Edwin Luján">
                                                <img src="assets/img/mp_neutro.png" alt="img" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overflow-auto">
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Se bajó la sesión activa de 3 horas a 40 minutos.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Se bajó el tiempo de la deshabilitación del link de Niubiz y reserva de asientos, de 2 horas a 1 hora.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Se solucionó el problema del envío de correos de los pasajes en el módulo de "Consulta Boletos".</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Se realizó el copiado de los correos enviados a confirmacionpasajes&#64;movilbus.pe.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Se agregó la búsqueda por Voucher en el módulo de "Consulta Boletos" y la columna de precio.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-line"></div>
                                <div class="timeline-icon">
                                    <i class="ki-duotone ki-pencil fs-2 text-gray-500"><span class="path1"></span><span class="path2"></span></i>
                                </div>
                                <div class="timeline-content mb-10 mt-n1">
                                    <div class="pe-3 mb-5">
                                        <div class="fs-5 fw-semibold mb-2">Versión 1.1</div>
                                        <div class="d-flex align-items-center mt-1 fs-6">
                                            <div class="text-muted me-2 fs-7">Publicado a las 03:05 AM del 28/04/2025 por</div>
                                            <div class="symbol symbol-circle symbol-25px" data-toggle="tooltip" title="Edwin Luján">
                                                <img src="assets/img/mp_neutro.png" alt="img" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overflow-auto">
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Al ingresar un teléfono, se debe actualizar en todos los pasajeros.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Permite al pasajero menor de edad, agregar el adulto con quien viajara.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Deshabilitar link de Niubiz pasado las 2 horas.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Aumentar el tiempo de la sesión activa a 3 horas.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Solución de ventas que no se registraban en la base de datos.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Pasajero menor de edad, ahora permite agregar el adulto con quien viajara.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">Ahora en la Intranet, permite que se abran varias pestañas a la vez para distintas ventas sin que se mezclen los datos entre las ventas y funcione cada uno por separado.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">
                                                    Se mejoró el módulo de "Consulta de Boletos", dando una mejor visión de todo el historial de cambios que pasa en un conjunto de boletos o facturas dentro de una misma venta, agregando también el envío de correos electrónicos de los pasajes y también la opción de descarga de PDF de la misma venta.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">En el módulo de "Consulta de Boletos", aparece un <i class="fad fa-file-pdf" style="color: red;"></i> al costado de los pasajeros si ese boleto se encuentra en el FE, y si se muestra en un tono pálido <i class="fad fa-file-pdf"></i>, quiere decir que no se encuentra en el FE.</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">El botón de Envío de Correos en el módulo de "Consulta de Boletos", solo lo hará si los viajes son posteriores o iguales a la fecha actual, y solo enviará el PDF del viaje que cumpla esas condiciones. (Todos los PDF de la venta deben aparecer en Rojo <i class="fad fa-file-pdf" style="color: red;"></i>)</div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center ps-10 mb-n1">
                                                <span class="bullet me-3" style="background-color: var(--bs-text-gray-600) !important;"></span>
                                                <div class="text-gray-800 fw-semibold fs-6">El botón de Descarga de PDF en el módulo de "Consulta de Boletos", solo aparecerá si todos los PDF de la venta aparecen en Rojo <i class="fad fa-file-pdf" style="color: red;"></i>.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>