.btn-primary2{
    color: white !important;
    background-color: #ff6719 !important;
}
.btn-primary2:hover{
    color: white !important;
    background-color: #e75b15 !important;
}
.btn-primary2:active{
    color: white !important;
    background-color: #c85014 !important;
}
.text-primary2 a{
    color: #ff6719 !important;
}
.empty_datos{
    border: 1px solid red;
}