<div class="mt-3 mb-1 pl-7">
    <div class="flex flex-col justify-center flex-wrap">
        <span class="text-gray-900 dark:text-gray-100 font-bold text-lg my-0">Menú Principal</span>
        <p class="text-xs text-gray-500 dark:text-gray-400 font-medium pt-1">Operaciones - Venta y Reserva de Pasajes</p>
    </div>
</div>

<div class="w-full mb-2">
    <div class="flex">
        <div id="div_progressbar" class="w-full md:w-10/12 xxl:w-8/12 px-4 pt-2">
            <div class="border border-gray-300 rounded-lg shadow-sm bg-white">
                <div class="p-4 pb-3 space-y-2">
                    <div class="flex">
                        <span class="text-xs text-gray-500 mr-1">Paso {{num_paso}} de {{paso_final}}:</span>
                        <span class="text-xs text-orange-500 font-bold mr-1">{{detalle_paso}}</span>
                        <span *ngIf="detalle_paso2 != ''" class="text-xs text-gray-600 font-bold mr-1"> - {{detalle_paso2}}</span>
                    </div>
                    <div class="w-full">
                        <div class="bg-gray-100 rounded h-4">
                            <div class="bg-orange-500 text-xs font-bold text-white text-center rounded" [ngStyle]="{ width: porcen_bar + '%' }">{{porcen_bar}}%</div>
                        </div>
                    </div>
                    <div class="text-xs text-gray-600 font-bold">{{sub_titulo}}</div>
                </div>
            </div>
        </div>

        <div id="btn_atras" class="w-full md:w-2/12 xxl:w-4/12 px-4 pt-2 inline-flex items-center">
            <button (click)="btn_atras()" class="inline-flex items-center gap-2 px-3 py-2 text-sm font-medium text-white bg-gray-600 rounded-lg hover:bg-gray-700">
                <i class="fad fa-chevron-left"></i> ATRÁS
            </button>
        </div>
    </div>
</div>

<div id="div_datos_pasajeros" class="flex flex-wrap space-x-2 pt-2">
    <div class="w-full md:w-1/4 px-4 pt-2">
        <div class="border border-[#969696] rounded-lg shadow-sm">
            <div class="ruta_ida_vuelta_selec rounded-t-md p-4 text-center" [ngClass]="{'pb-1.5': descripcion_escalas_ida != ''}">
                <div>
                    <p class="rut_ida_vuelta_select_ida_vuelta font-semibold">Ida - {{servicioIda}}</p>
                    <p>
                        <span class="rut_ida_vuelta_select_ciudad_ida_vuelta">{{nombre_ciudad_origen}}</span>
                        &nbsp;<i class="fad fa-long-arrow-right rut_ida_vuelta_select_icon"></i>&nbsp;
                        <span class="rut_ida_vuelta_select_ciudad_ida_vuelta">{{nombre_ciudad_destino}}</span>
                    </p>
                    <p>
                        <i class="fal fa-calendar-check rut_ida_vuelta_select_icon2"></i>&nbsp;
                        <span class="rut_ida_vuelta_select_fecha_ida_vuelta">{{nombreFechaIda}}</span>
                    </p>
                </div>
                <div *ngIf="descripcion_escalas_ida != ''" class="text-xss pt-3 text-gray-600">
                    <span class="font-bold">ESCALAS:</span> {{descripcion_escalas_ida}}
                </div>
            </div>

            <div class="ruta_ida_vuelta_selec border-t border-dashed border-gray-500 px-4 py-3 rounded-b-md">
                <div class="flex">
                    <div class="w-5/12 text-center">
                        <span class="rut_ida_vuelta_select_hora_embar_ida_vuelta">{{horaEmbarqueIda}} h</span>
                    </div>
                    <div class="w-7/12 rut_ida_vuelta_select_salida_embar_ida_vuelta">
                        <div><em>Embarque</em></div>
                        <div><em>{{agenciaEmbarqueIda}}</em></div>
                    </div>
                </div>
            </div>

            <div *ngIf="ida_vuelta == 2" class="ruta_ida_vuelta_no_selec rounded-b-lg p-4 text-center" [ngClass]="{'pb-1.5': descripcion_escalas_vuelta != ''}">
                <div>
                    <p class="rut_ida_vuelta_select_ida_vuelta font-semibold">Retorno</p>
                    <p>
                        <span class="rut_ida_vuelta_select_ciudad_ida_vuelta">{{nombre_ciudad_destino}}</span>
                        &nbsp;<i class="fad fa-long-arrow-right rut_ida_vuelta_select_icon"></i>&nbsp;
                        <span class="rut_ida_vuelta_select_ciudad_ida_vuelta">{{nombre_ciudad_origen}}</span>
                    </p>
                    <p>
                        <i class="fal fa-calendar-check rut_ida_vuelta_select_icon2"></i>&nbsp;
                        <span class="rut_ida_vuelta_select_fecha_ida_vuelta">{{nombreFechaVuelta}}</span>
                    </p>
                </div>
                <div *ngIf="descripcion_escalas_vuelta != ''" class="text-xss pt-3 text-gray-600">
                    <span class="font-bold">ESCALAS:</span> {{descripcion_escalas_vuelta}}
                </div>
            </div>
        </div>

        <br>

        <div id="div_lista_promociones_ventas" class="bg-white shadow rounded-2xl border border-gray-300 mb-10">
            <div *ngIf="promocionesVentasRuc.length > 0" class="px-6 pt-5">
                <span class="flex flex-col items-start">
                    <span class="text-lg font-bold text-gray-900">Promociones con RUC</span>
                    <span class="text-sm font-semibold text-gray-500 pt-2">Descuentos Aplicables</span>
                </span>
            </div>

            <div *ngIf="promocionesVentasRuc.length > 0" class="px-4 py-4">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                        <tbody>
                            <tr *ngFor="let dat of promocionesVentasRuc" class="border-b border-gray-200 last:border-0">
                                <td>
                                    <div class="flex items-center">
                                        <div class="w-12 h-12 flex items-center justify-center text-gray-600 mr-1"><i class="fad fa-badge-percent text-2xl"></i></div>
                                        <div class="flex flex-col justify-start"><span class="text-xs font-bold text-gray-800">{{dat.c_denominacion}}</span></div>
                                    </div>
                                </td>
                                <td class="text-center w-8">
                                    <i class="fad fa-plus-square text-green-600 text-2xl cursor-pointer" id="icon_aplicar_promocionesventas2_{{dat.promocion_id}}" title="Aplicar Promoción" (click)="aplicar_quitar_promocionesVentas(dat)"></i>
                                    <i class="fad fa-times-circle text-red-600 text-2xl cursor-pointer hidden" id="icon_cerrar_promocionesventas2_{{dat.promocion_id}}" title="Quitar Promoción" (click)="aplicar_quitar_promocionesVentas(dat)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr *ngIf="promocionesVentasRuc.length > 0" class="border-t border-dashed border-gray-500">

            <div class="px-6 pt-5">
                <h3 class="flex flex-col items-start">
                    <span class="text-lg font-bold text-gray-900">Promociones</span>
                    <span class="text-sm font-semibold text-gray-500 pt-2">Descuentos Aplicables</span>
                </h3>
            </div>

            <!--<div class="px-4 py-4">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                        <tbody>
                            <tr *ngFor="let dat of promocionesVentas" class="border-b border-gray-200 last:border-0">
                                <td>
                                    <div class="flex items-center">
                                        <div class="w-12 h-12 flex items-center justify-center text-gray-600 mr-1"><i class="fad fa-badge-percent text-2xl"></i></div>
                                        <div class="flex flex-col justify-start"><span class="text-xs font-bold text-gray-800">{{dat.c_denominacion}}</span></div>
                                    </div>
                                </td>
                                <td class="text-center w-8">
                                    <i class="fad fa-plus-square text-green-600 text-2xl cursor-pointer" id="icon_aplicar_promocionesventas2_{{dat.promocion_id}}" title="Aplicar Promoción" (click)="aplicar_quitar_promocionesVentas(dat)"></i>
                                    <i class="fad fa-times-circle text-red-600 text-2xl cursor-pointer hidden" id="icon_cerrar_promocionesventas2_{{dat.promocion_id}}" title="Quitar Promoción" (click)="aplicar_quitar_promocionesVentas(dat)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>-->

            <div class="mt-2" *ngIf="promocionesAgrupadas.gestion.length > 0">
                <div class="flex justify-between items-center px-4 py-3 cursor-pointer bg-gray-100 hover:bg-gray-200" (click)="accordion.gestion = !accordion.gestion">
                    <span class="font-bold text-gray-800">GESTIÓN COMERCIAL</span>
                    <i class="fad" [ngClass]="accordion.gestion ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                </div>
                <div *ngIf="accordion.gestion" class="px-4">
                    <div *ngFor="let dat of promocionesAgrupadas.gestion" class="flex items-center justify-between border-b py-2">
                        <div class="flex items-center">
                            <i class="fad fa-badge-percent text-xl text-gray-600 mr-3"></i>
                            <span class="text-xs font-bold text-gray-800">{{ dat.c_denominacion }}</span>
                        </div>
                        <i class="fad fa-plus-square text-green-600 text-2xl cursor-pointer" id="icon_aplicar_promocionesventas2_{{dat.promocion_id}}" title="Aplicar Promoción" (click)="aplicar_quitar_promocionesVentas(dat)"></i>
                        <i class="fad fa-times-circle text-red-600 text-2xl cursor-pointer hidden" id="icon_cerrar_promocionesventas2_{{dat.promocion_id}}" title="Quitar Promoción" (click)="aplicar_quitar_promocionesVentas(dat)"></i>
                    </div>
                </div>
            </div>

            <div class="mt-0" *ngIf="promocionesAgrupadas.convenio.length > 0">
                <div class="flex justify-between items-center px-4 py-3 cursor-pointer bg-gray-100" (click)="accordion.convenio = !accordion.convenio">
                    <span class="font-bold text-gray-800">CONVENIOS</span>
                    <i class="fad" [ngClass]="accordion.convenio ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                </div>
                <div *ngIf="accordion.convenio" class="px-4">
                    <div *ngFor="let dat of promocionesAgrupadas.convenio" class="flex items-center justify-between border-b py-2">
                        <div class="flex items-center">
                            <i class="fad fa-badge-percent text-xl text-gray-600 mr-3"></i>
                            <span class="text-xs font-bold text-gray-800">{{ dat.c_denominacion }}</span>
                        </div>
                        <i class="fad fa-plus-square text-green-600 text-2xl cursor-pointer" id="icon_aplicar_promocionesventas2_{{dat.promocion_id}}" title="Aplicar Promoción" (click)="aplicar_quitar_promocionesVentas(dat)"></i>
                        <i class="fad fa-times-circle text-red-600 text-2xl cursor-pointer hidden" id="icon_cerrar_promocionesventas2_{{dat.promocion_id}}" title="Quitar Promoción" (click)="aplicar_quitar_promocionesVentas(dat)"></i>
                    </div>
                </div>
            </div>

            <!-- OTROS -->
            <div class="mt-0" *ngIf="promocionesAgrupadas.otros.length > 0">
                <div class="flex justify-between items-center px-4 py-3 cursor-pointer bg-gray-100" (click)="accordion.otros = !accordion.otros">
                    <span class="font-bold text-gray-800">OTROS DESCUENTOS</span>
                    <i class="fad" [ngClass]="accordion.otros ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                </div>
                <div *ngIf="accordion.otros" class="px-4">
                    <div *ngFor="let dat of promocionesAgrupadas.otros" class="flex items-center justify-between border-b py-2">
                        <div class="flex items-center">
                            <i class="fad fa-badge-percent text-xl text-gray-600 mr-3"></i>
                            <span class="text-xs font-bold text-gray-800">{{ dat.c_denominacion }}</span>
                        </div>
                        <i class="fad fa-plus-square text-green-600 text-2xl cursor-pointer" id="icon_aplicar_promocionesventas2_{{dat.promocion_id}}" title="Aplicar Promoción" (click)="aplicar_quitar_promocionesVentas(dat)"></i>
                        <i class="fad fa-times-circle text-red-600 text-2xl cursor-pointer hidden" id="icon_cerrar_promocionesventas2_{{dat.promocion_id}}" title="Quitar Promoción" (click)="aplicar_quitar_promocionesVentas(dat)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full xl:w-2/4 px-4 pt-2 pb-2">
        <div *ngFor="let pasajero_asiento of pasajero_asientos; index as i;" class="w-full p-4 mb-2 border border-gray-300 rounded-lg">
            <div class="flex flex-wrap">
                <div class="xxl:w-7/12 xl:w-8/12 w-full">
                    <div class="flex flex-wrap">
                        <div class="w-full text-gray-600 font-bold text-lg mb-1.5">
                            Datos del pasajero {{i+1}} 
                            <span class="text-gray-500 text-sm font-bold">- <input type="text" id="relacion_edad_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="palabra_adulto_adolescente ml-2 w-1/5 text-gray-500 text-sm font-bold bg-transparent outline-none" value="Adulto" readonly></span>
                        </div>
                        <div class="w-1/2 mb-1 pr-1">
                            <select id="selectTipDoc_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" (change)="changeSelect($event)" class="datos_pasajero block w-full rounded-md border border-gray-300 bg-white px-2 py-1 text-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-orange-500">
                                <option *ngFor="let tip_doc of tipos_documentos" value="{{tip_doc.idTipDoc}}" [selected]="tip_doc.idTipDoc == 1">
                                    {{tip_doc.nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="w-1/2 mb-1 pr-1">
                            <input type="number" (blur)="searchNameDocumento($event)" (keypress)="maxLengthDocumento($event)" (keyup)="deleteBlankDataDocumento($event)" id="txtdocumento_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="datos_pasajero block w-full rounded-md border border-gray-300 px-2 py-1 text-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-orange-500" placeholder="N° Documento">
                        </div>
                        <div class="w-1/2 mb-1 pr-1">
                            <input type="hidden" id="txtidpasajero_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}">
                            <input type="hidden" id="txtflagws_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}">
                            <input type="text" id="txtnombres_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="datos_pasajero block w-full rounded-md border border-gray-300 px-2 py-1 text-sm text-gray-700 bg-gray-100" placeholder="Nombres" readonly>
                        </div>
                        <div class="w-1/2 mb-1 pr-1">
                            <input type="text" id="txtapellidos_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="datos_pasajero block w-full rounded-md border border-gray-300 px-2 py-1 text-sm text-gray-700 bg-gray-100" placeholder="Apellidos" readonly>
                        </div>
                        <div class="w-1/2 mb-1 pr-1" title="Fecha de Nacimiento">
                            <input type="date" id="fecha_nacimiento_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" value="{{date_actual}}" min="1900-01-01" max="{{date_actual}}" (blur)="aceptar_fecha_nacimiento(pasajero_asiento.asiento_ida+'_'+pasajero_asiento.asiento_vuelta)" class="datos_pasajero block w-full rounded-md border border-gray-300 px-2 py-1 text-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-orange-500" placeholder="Fecha de Nacimiento">
                        </div>
                        <input type="hidden" id="edad_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}">
                        <div class="w-1/2 flex items-center justify-center text-sm mb-1">
                            <label class="flex items-center mr-4 cursor-pointer">
                                <input type="radio" name="inlineRadio_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" id="inlineRadio_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}_1" value="1" class="mr-1 text-blue-600">
                                <span class="datos_pasajero">Femenino</span>
                            </label>
                            <label class="flex items-center cursor-pointer">
                                <input type="radio" name="inlineRadio_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" id="inlineRadio_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}_2" value="2" class="mr-1 text-blue-600">
                                <span class="datos_pasajero">Masculino</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="xxl:w-5/12 xl:w-4/12 w-full border-l border-gray-200 pl-2">
                    <div class="flex flex-wrap">
                        <div *ngIf="pasajero_asiento.porcentaje_descuento_ida != 0 || pasajero_asiento.porcentaje_descuento_vuelta != 0" class="w-full flex">
                            <div *ngIf="pasajero_asiento.porcentaje_descuento_ida != 0" class="p-2">
                                <span class="relative block py-2 px-3 rounded-md bg-blue-100 text-xs font-bold text-gray-700 cursor-pointer">
                                    <span *ngIf="tipoDescuentoPromocionVenta == 'S'">S/. </span>
                                    {{pasajero_asiento.porcentaje_descuento_ida}}
                                    <span *ngIf="tipoDescuentoPromocionVenta == 'P'">%</span> ida &nbsp; 
                                    <i class="fad fa-times-circle text-red-600 text-sm" title="Quitar Promoción" (click)="quitar_descuento_unitario(pasajero_asiento.asiento_ida+'_'+pasajero_asiento.asiento_vuelta, pasajero_asiento.porcentaje_descuento_ida, 'ida')"></i>
                                    <span class="absolute bottom-0 left-0 w-full h-1 bg-blue-500"></span>
                                </span>
                            </div>
                            <div *ngIf="pasajero_asiento.porcentaje_descuento_vuelta != 0" class="p-2">
                                <span class="relative block py-2 px-3 rounded-md bg-blue-100 text-xs font-bold text-gray-700 cursor-pointer">
                                    <span *ngIf="tipoDescuentoPromocionVenta == 'S'">S/. </span>
                                    {{pasajero_asiento.porcentaje_descuento_vuelta}}
                                    <span *ngIf="tipoDescuentoPromocionVenta == 'P'">%</span> vuelta &nbsp; 
                                    <i class="fad fa-times-circle text-red-600 text-sm" title="Quitar Promoción" (click)="quitar_descuento_unitario(pasajero_asiento.asiento_ida+'_'+pasajero_asiento.asiento_vuelta, pasajero_asiento.porcentaje_descuento_vuelta, 'vuelta')"></i>
                                    <span class="absolute bottom-0 left-0 w-full h-1 bg-blue-500"></span>
                                </span>
                            </div>
                        </div>

                        <div class="w-full text-sm mb-1">
                            <span class="text-orange-600 font-bold">Asiento de Ida: </span>
                            <span class="text-gray-500 font-bold">{{pasajero_asiento.asiento_ida}}</span>
                        </div>

                        <div *ngIf="pasajero_asiento.asiento_vuelta != ''" class="w-full text-sm mb-1">
                            <span class="text-orange-600 font-bold">Asiento de Vuelta: </span>
                            <span class="text-gray-500 font-bold">{{pasajero_asiento.asiento_vuelta}}</span>
                        </div>

                        <div id="pregunta1_detalle_infante_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="w-8/12 datos_infante mb-3 hidden">
                            <span class="font-bold text-sm text-gray-500">¿Viajo con un bebé?</span>&nbsp;
                            <i id="info_circle" class="fad fa-info-circle cursor-pointer text-gray-500" title="Si viajas con un bebé (menor de 5 años), es importante &#13;que lo registres durante la compra de tu pasaje. &#13;&#13;*Recuerda que los menores de edad, a partir de los 5 años,&#13; deben ocupar un asiento y pagar por Boleto de viaje."></i>
                        </div>

                        <div id="pregunta2_detalle_infante_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="w-4/12 datos_infante mb-3 hidden">
                            <label class="inline-flex items-center cursor-pointer">
                                <input #sw1 type="checkbox" class="sr-only" id="flexSwitchCheckInfante_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" (change)="change_detalle_infante($event, pasajero_asiento.asiento_ida+'_'+pasajero_asiento.asiento_vuelta)">
                                <div class="relative w-8 h-5 bg-gray-300 rounded-full flex items-center p-[2px] transition-colors duration-200" [class.bg-orange-600]="sw1.checked">
                                    <div class="w-4 h-4 bg-white rounded-full shadow transition-all duration-200" [class.ml-auto]="sw1.checked"></div>
                                </div>
                            </label>
                        </div>

                        <div id="pregunta1_detalle_adolescente_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="w-8/12 datos_infante mb-3 hidden">
                            <span class="font-bold text-sm text-gray-500">¿Quieres vincular con un Apoderado?</span>
                        </div>

                        <div id="pregunta2_detalle_adolescente_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="w-4/12 datos_infante mb-3 hidden">
                            <label class="inline-flex items-center cursor-pointer">
                                <input #sw2 type="checkbox" class="sr-only" id="flexSwitchCheckInfante2_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" (change)="change_detalle_infante_apoderado($event, pasajero_asiento.asiento_ida+'_'+pasajero_asiento.asiento_vuelta)">
                                <div class="relative w-8 h-5 bg-gray-300 rounded-full flex items-center p-[2px] transition-colors duration-200" [class.bg-orange-600]="sw2.checked">
                                    <div class="w-4 h-4 bg-white rounded-full shadow transition-all duration-200" [class.ml-auto]="sw2.checked"></div>
                                </div>
                            </label>
                        </div>

                        <div id="datos_detalle_infante_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="w-full datos_infante mb-1 hidden">
                            <span class="text-gray-500 font-bold text-sm">Datos Infante:</span>&nbsp;
                            <span id="btn_verdatos_infante_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="border_button_infante hidden">
                                <i class="fad fa-user"></i>&nbsp;
                                <input type="text" id="dni_datos_infante_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="text-sm font-bold text-[#4e4d50b5] bg-transparent border-none w-1/5 ml-2" readonly>
                            </span>
                            <span id="btn_agregar_infante_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="border_button_infante cursor-pointer text-sm" title="Agregar Infante" (click)="abrirModalDatosInfante(pasajero_asiento.asiento_ida+'_'+pasajero_asiento.asiento_vuelta)">
                                <i class="fas fa-plus"></i> Agregar Infante
                            </span>
                            <span id="btn_editar_infante_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="border_button_infante ml-1 hidden cursor-pointer" title="Editar Datos del Infante" (click)="editarDatosInfante(pasajero_asiento.asiento_ida+'_'+pasajero_asiento.asiento_vuelta)">
                                <i class="fas fa-edit text-[#e59400]"></i>
                            </span>
                            <span id="btn_eliminar_infante_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="border_button_infante ml-1 hidden cursor-pointer" title="Eliminar Infante" (click)="eliminarDatosInfante(pasajero_asiento.asiento_ida+'_'+pasajero_asiento.asiento_vuelta)">
                                <i class="fas fa-times-circle text-red-600"></i>
                            </span>
                        </div>

                        <div id="dni_apoderado2_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" class="w-full datos_infante mb-1 hidden">
                            <span class="text-gray-600 font-bold text-sm" id="fontPalabraApoderado2">DNI Apoderado:</span>&nbsp;
                            <span>
                                <input id="TipDocApoderado1_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" type="text" (blur)="searchDocumentoApoderado($event)" (keyup.enter)="searchDocumentoApoderado($event)" class="hidden w-2/4 text-gray-500 border border-gray-300 rounded-md px-2 py-1 text-sm focus:border-blue-500 focus:ring focus:ring-blue-200">
                                <select id="TipDocApoderado2_{{pasajero_asiento.asiento_ida}}_{{pasajero_asiento.asiento_vuelta}}" (change)="searchDocumentoApoderado($event)" class="hidden w-1/3 border border-gray-300 rounded-md px-2 py-1 text-sm text-gray-700 focus:border-blue-500 focus:ring focus:ring-blue-200">
                                    <option *ngFor="let ltDocument of listaArrayAdultosSeleccion" value="{{ltDocument}}">
                                        {{ltDocument}}
                                    </option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full mt-3 mb-5">
            <div class="flex flex-wrap mb-2">
                <div class="md:w-3/12 w-1/2 text-gray-600 font-bold text-lg">Datos de Contacto</div>
            </div>
            <div class="flex flex-wrap">
                <div class="w-full mb-1">
                    <div class="text-center rounded bg-gray-200 p-2 text-sm text-gray-500 mb-1">
                        Sus boletos y el recibo se enviarán a la dirección del correo electrónico a continuación.
                    </div>
                </div>
                <div class="xxl:w-8/12 w-8/12 mb-1">
                    <input id="emailDatosContacto" type="email" class="block w-full rounded-md border border-gray-300 px-2 py-1 text-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-orange-500" placeholder="Correo electrónico">
                </div>
                <div class="xxl:w-4/12 w-4/12 mb-1 pl-3">
                    <input id="numeroDatosContacto" ng2TelInput (countryChange)="onCountryChange($event)" [ng2TelInputOptions]="{initialCountry: 'PE'}" name="numeroDatosContacto" type="tel" (keyup)="reemplazar_caracteres($event)" (keypress)="limit_num_input($event)" class="block w-full rounded-md border border-gray-300 px-2 py-1 text-sm text-gray-700 focus:border-blue-500 focus:ring focus:ring-blue-200" placeholder="Número de teléfono o celular">
                </div>
            </div>
        </div>

        <div class="w-full mt-3 mb-5">
            <div class="grid grid-cols-12 items-center gap-2">
                <div class="col-span-2">
                    <div class="text-gray-600 font-bold text-base">¿Desea factura?</div>
                </div>
                <div class="col-span-6 flex justify-start">
                    <label class="inline-flex items-center cursor-pointer">
                        <input #sw3 type="checkbox" class="sr-only" id="chkSolicitaFactura" (change)="change_detalle_factura($event)">
                        <div class="relative w-8 h-5 bg-gray-300 rounded-full flex items-center p-[2px] transition-colors duration-200" [class.bg-orange-600]="sw3.checked">
                            <div class="w-4 h-4 bg-white rounded-full shadow transition-all duration-200" [class.ml-auto]="sw3.checked"></div>
                        </div>
                    </label>
                </div>
                <div id="detalle_factura" class="col-span-6 hidden">
                    <div class="mb-2">
                        <input id="idclienteSolicitaFactura" type="text" class="hidden">
                        <input id="flagSolicitaFactura" type="text" class="hidden">
                        <input id="rucSolicitaFactura" type="text" maxlength="11" placeholder="Ruc" class="w-full rounded-md border border-gray-300 px-2 py-1 text-sm focus:outline-none focus:ring-2 focus:ring-orange-500" (blur)="eliminarDatosRuc($event)" (keyup.enter)="searchDatosRuc($event)" (keydown)="handleKeyDownRuc($event)" (paste)="handlePasteRuc($event)">
                    </div>
                    <div class="mb-2">
                        <input id="razonSolicitaFactura" type="text" placeholder="Razón" readonly class="w-full rounded-md border border-gray-300 px-2 py-1 text-sm bg-gray-100">
                    </div>
                    <div class="mb-2">
                        <input id="direccionSolicitaFactura" type="text" placeholder="Dirección" readonly class="w-full rounded-md border border-gray-300 px-2 py-1 text-sm bg-gray-100">
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full mt-3 mb-5">
            <div class="w-full mt-2.5">
                <div class="mb-2.5">
                    <div class="text-gray-600 font-bold text-base col-span-3 md:col-span-6">Medio de Pago</div>
                </div>
                <div class="mb-1">
                    <div class="text-center rounded bg-gray-200 p-4 text-sm text-gray-500 mb-1">
                        <div class="mb-1">
                            <label for="chktermcond_1" class="flex items-start text-xs text-[#545454] cursor-pointer">
                                <input id="chktermcond_1" type="checkbox" value="" class="mt-0.5 mr-2 h-4 w-4 rounded border border-white">
                                <span class="text-gray-500">
                                    <span class="terminos_condiciones">*</span>
                                    <span class="terminos_condiciones">
                                        He cumplido con el proceso de venta de acuerdo a los procesos estipulados publicados aquí
                                        <i class="fad fa-file-alt text-gray-600 cursor-pointer ml-1" title="ver Términos y Condiciones" (click)="abrirModal('modalTerminosCondiciones')"></i>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="asientos_precios1" class="w-full mb-1">
                <div class="rounded p-3 text-sm mb-1">
                    <div class="flex flex-col items-center">
                        <div *ngIf="precio_pasajeros_asientos_ida != 0" class="w-full lg:w-8/12 bg-white text-gray-500 border border-gray-400 mb-2">
                            <div class="mt-4 mb-3">
                                <div class="flex flex-wrap">
                                    <div class="w-1/2 pl-4">
                                        <div class="text-gray-600 font-bold text-[15px]">Ida</div>
                                        <div class="text-xs">Pasajeros: <span class="text-gray-600 font-bold text-xs">{{cant_pasajeros_asientos_ida}}</span></div>
                                        <div class="text-xs">Asiento(s): <span class="text-gray-600 font-bold text-xs">{{list_pasajeros_asientos_ida}}</span></div>
                                    </div>
                                    <div class="w-1/2 text-center mt-2.5">
                                        <span class="text-gray-600 font-bold text-xl">s/ {{precio_pasajeros_asientos_ida.toFixed(2)}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="cant_pasajeros_asientos_vuelta != 0" class="w-full lg:w-8/12 bg-white text-gray-500 border border-gray-400 mb-2">
                            <div class="mt-4 mb-3">
                                <div *ngIf="precio_pasajeros_asientos_vuelta != 0" class="flex flex-wrap">
                                    <div class="w-1/2 pl-4">
                                        <div class="text-gray-600 font-bold text-[15px]">Retorno</div>
                                        <div class="text-xs">Pasajeros: <span class="text-gray-600 font-bold text-xs">{{cant_pasajeros_asientos_vuelta}}</span></div>
                                        <div class="text-xs">Asiento(s): <span class="text-gray-600 font-bold text-xs">{{list_pasajeros_asientos_vuelta}}</span></div>
                                    </div>
                                    <div class="w-1/2 text-center mt-2.5">
                                        <span class="text-gray-600 font-bold text-xl">s/ {{precio_pasajeros_asientos_vuelta.toFixed(2)}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="flagPromocionVentas == 0" id="precio_total_normal" class="w-full lg:w-8/12 bg-gray-200 text-gray-700 border border-gray-400 mb-2">
                            <div class="mt-3.5 mb-3 flex flex-wrap">
                                <div class="w-1/2 mt-2.5 pl-4">
                                    <span class="font-bold text-[14.5px]">N° de pasajes: {{cant_pasajeros_asientos_ida+cant_pasajeros_asientos_vuelta}}</span>
                                </div>
                                <div class="w-1/2 text-center">
                                    <div class="text-xs italic">Precio Total</div>
                                    <span class="font-bold text-2xl">s/ {{precio_total_pasajeros_asientos.toFixed(2)}}</span>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="flagPromocionVentas == 1" id="precio_total_promocionVenta" class="w-full lg:w-8/12 bg-gray-200 text-gray-700 border border-gray-400 mb-2">
                            <div class="mt-3.5 mb-3 flex flex-wrap">
                                <div class="w-1/3 pl-4 pt-3">
                                    <span class="font-bold text-[14.5px]">N° de pasajes: {{cant_pasajeros_asientos_ida+cant_pasajeros_asientos_vuelta}}</span>
                                </div>
                                <div class="w-2/3 text-right pr-4">
                                    <div>
                                        <span class="txt_total_1" title="Descuento Aplicado">
                                            <span *ngIf="tipoDescuentoPromocionVenta == 'S'">S/. </span>
                                            -{{porcentajeDescuentoPromocionVenta}}
                                            <span *ngIf="tipoDescuentoPromocionVenta == 'P'">%</span>
                                        </span>
                                        <span class="txt_total_2">
                                            <span class="txt_total_3">s/ {{precio_total_pasajeros_asientos_original.toFixed(2)}}</span>
                                        </span>
                                        <span class="txt_total_7">(Original)</span>
                                    </div>
                                    <div class="mt-0">
                                        <span class="txt_total_4"><em>Precio Total </em> <span class="txt_total_5">(Promoción)</span></span>
                                        <span class="txt_total_6">s/ {{precio_total_pasajeros_asientos.toFixed(2)}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full text-center mb-5">
                <button id="btn_continuar_pago" type="button" class="px-5 py-2 bg-orange-500 text-white font-medium rounded hover:bg-orange-600 transition" (click)="ConfirmarCompra()">
                    <i class="fad fa-money-check text-white mr-1"></i> CONFIRMAR COMPRA
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="ArrayMostrarModal['modal_mensajealerta']" id="modal_mensajealerta" class="fixed inset-0 z-50 flex items-center justify-center" (click)="cerrarModal('modal_mensajealerta')">
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    <div class="relative bg-white w-full max-w-xl rounded-lg shadow-lg z-10" (click)="$event.stopPropagation()">
        <div class="px-6 py-4 text-sm text-gray-700">
            <div class="grid grid-cols-12">
                <div class="col-span-9 bg-white p-4 rounded-tl-lg rounded-bl-lg">
                    <p class="text-gray-800 font-bold text-xl">{{tituloMensajeAlerta}}</p>
                    <p class="text-gray-400 font-bold text-lg">{{textoMensajeAlerta}}</p>
                </div>

                <div class="col-span-3 text-center bg-gray-300 p-4 text-4xl text-orange-500 rounded-tr-lg rounded-br-lg">
                    <i class="fad fa-times cursor-pointer" (click)="cerrarModal('modal_mensajealerta')"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="ArrayMostrarModal['modalAgregarInfante']" id="modalAgregarInfante" class="fixed inset-0 z-50 flex items-center justify-center" (click)="cerrarModal('modalAgregarInfante')">
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>

    <div class="relative bg-white w-full max-w-xl rounded-lg shadow-lg z-10" (click)="$event.stopPropagation()">
        <div class="flex items-center justify-between border-b border-gray-300 px-5 pt-3 pb-2">
            <span class="font-bold text-gray-800 text-base">
                Datos del Pasajero - Infante <br />
            </span>
            <i class="fa fa-times text-xl cursor-pointer" (click)="cerrarModal('modalAgregarInfante')"></i>
        </div>

        <div class="px-6 py-4 text-sm text-gray-700">
            <form class="space-y-3">
                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <label class="block text-sm font-medium text-gray-700">Vínculo del Menor:</label>
                    </div>
                    <div>
                        <select id="selectTipVinculo" class="w-full rounded-md border border-gray-300 bg-white px-2 py-1 text-sm focus:border-blue-500 focus:ring focus:ring-blue-200" (change)="changeSelect($event)">
                            <option value="Padre">PADRE - HIJO</option>
                            <option value="Apoderado">APODERADO</option>
                        </select>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <select id="selectTipDocInfante" class="w-full rounded-md border border-gray-300 bg-white px-2 py-1 text-sm focus:border-blue-500 focus:ring focus:ring-blue-200" (change)="changeSelect($event)">
                            <option *ngFor="let tip_doc of tipos_documentos" value="{{tip_doc.idTipDoc}}" [selected]="tip_doc.idTipDoc == 1">
                                {{tip_doc.nombre}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <input type="hidden" id="idapoderadoInfante" value="">
                        <input type="hidden" id="idpasajeroInfante" value="">
                        <input type="hidden" id="flagwsInfante" value="">
                        <input type="text" id="txtdocumentoInfante" (blur)="searchNameDocumentoInfante($event)" (keyup)="deleteBlankDataDocumentoInfante($event)" (keypress)="maxLengthDocumentoInfante($event)" class="w-full rounded-md border border-gray-300 px-2 py-1 text-sm focus:border-blue-500 focus:ring focus:ring-blue-200" placeholder="N° Documento">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <input type="text" id="txtnombresInfante" class="w-full rounded-md border border-gray-300 px-2 py-1 text-sm focus:border-blue-500 focus:ring focus:ring-blue-200" placeholder="Nombres">
                    </div>
                    <div>
                        <input type="text" id="txtapellidosInfante" class="w-full rounded-md border border-gray-300 px-2 py-1 text-sm focus:border-blue-500 focus:ring focus:ring-blue-200" placeholder="Apellidos">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-2 items-center">
                    <div>
                        <input type="date" id="fecha_nacimiento_infante" value="{{date_actual}}" min="1900-01-01" max="{{date_actual}}" (blur)="verificar_edad_infante()" class="w-full rounded-md border border-gray-300 px-2 py-1 text-sm focus:border-blue-500 focus:ring focus:ring-blue-200" placeholder="Fecha de Nacimiento">
                    </div>
                    <div class="flex items-center justify-center space-x-4 text-sm">
                        <label class="inline-flex items-center">
                            <input class="text-blue-600 border-gray-300 focus:ring-blue-500" type="radio" name="inlineRadioFemeninoInfante" id="inlineRadio_infante_1" value="1">
                            <span class="ml-1">Femenino</span>
                        </label>
                        <label class="inline-flex items-center">
                            <input class="text-blue-600 border-gray-300 focus:ring-blue-500" type="radio" name="inlineRadioFemeninoInfante" id="inlineRadio_infante_2" value="2">
                            <span class="ml-1">Masculino</span>
                        </label>
                    </div>
                </div>
                <div class="flex pt-2 pb-2 justify-end">
                    <button (click)="guardarDatosInfante()" class="px-4 py-2 mr-3 bg-green-600 text-white rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500">Guardar</button>
                    <button (click)="cerrarModal('modalAgregarInfante')" class="px-4 py-2 mr-3 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="ArrayMostrarModal['modalTerminosCondiciones']" id="modalTerminosCondiciones" class="fixed inset-0 z-50 flex items-center justify-center" (click)="cerrarModal('modalTerminosCondiciones')">
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>

    <div class="relative bg-white w-full max-w-3xl rounded-lg shadow-lg z-10" (click)="$event.stopPropagation()">
        <div class="flex items-center justify-between border-b border-gray-300 px-5 pt-3 pb-2">
            <span class="font-bold text-gray-800 text-base">
                Clausulas Generales de Contratación del Servicio de Viaje <br />
            </span>
            <i class="fa fa-times text-xl cursor-pointer" (click)="cerrarModal('modalTerminosCondiciones')"></i>
        </div>

        <div class="px-6 py-4 text-sm text-gray-700">
            <div class="text-gray-500 overflow-y-auto" style="position: relative; height: 50rem;">
                <p class="text-left text-sm ml-1.5">La adquisición de un boleto de viaje en Movil Bus, implica el total conocimiento y aceptación de las condiciones que especificamos a continuación: <br></p>
                <p class="text-left text-xs ml-4 mr-4">
                    1. El Boleto de Viaje es personal y transferible, conforme a ley, siendo el único comprobante 
                    válido para a viajar, en la fecha y hora impresa.   <br><br>
                    2. El Pasajero es responsable de verificar los datos consignados en el Boleto de Viaje, al 
                    momento de adquirirlo. <br><br>
                    3. El Pasajero deberá presentarse 45 minutos antes de la hora de salida del bus, para entregar 
                    su equipaje. Una vez salido el Bus no habrá lugar a postergación, ni devolución de dinero. <br><br>
                    4. Para Boletos de viaje adquiridos por Internet sólo se aceptarán postergaciones o cambios 
                    posteriores a las 24 horas de haberse realizado la compra y hasta 4 horas antes de la salida del 
                    bus, tiempo necesario para la validación de la transacción por parte de las pasarelas de pago 
                    (Visa, Mastercard, etc). <br><br>
                    5. Se aceptarán cambios y postergaciones (en forma presencial), hasta 4 horas antes de Ia hora 
                    del viaje impresa en el boleto, previo reintegro en caso de incremento de la tarifa. En caso que 
                    no pueda acercarse el titular, podrá enviar a una persona a realizar el cambio o postergación, 
                    con una solicitud simple adicionando la copia de DNI del titular y el boleto. <br>
                    En caso de tratarse de una persona jurídica, la persona que realice el trámite (pasajero o 
                    tercero) deberá presentar una carta membretada que detalle el cambio a realizar, 
                    debidamente firmada y sellada por el representante legal de la empresa. La carta 
                    membretada deberá adjuntar una copia de DNI del representante legal y copia de DNI del 
                    pasajero. <br><br>
                    6. No se permitirá el embarque y/o desembarque en puntos diferentes al registrado en el 
                    Boleto de Viaje. Nuestros servicios realizan escalas comerciales en la ruta, de acuerdo a la 
                    autorización del MTC. <br><br>
                    7. En el embarque, el Pasajero deberá presentar su Boleto de Viaje y documento de identidad 
                    de acuerdo a la Ley 27337, los menores de edad que viajen solos o en compañía de un adulto 
                    que no sean sus padres deben presentar permiso notarial de viaje de cualquiera de sus padres. <br>
                    El cliente acepta que es requisito indispensable la presentación del permiso notarial original y 
                    copia al momento de la compra del boleto de viaje y al momento del embarque del menor de 
                    edad que viaja sin acompañamiento de cualquiera de los dos padres. Caso contrario, no podrán 
                    viajar y perderán el valor de su Boleto de Viaje. <br><br>
                    8. Los niños mayores de cinco años de edad pagan Boleto de Viaje completo, los menores de 
                    cinco años que no paguen Boleto de viaje no tienen derecho a asiento. <br><br>
                    9. El Pasajero no podrá viajar bajo la influencia de alcohol y/o estupefacientes. En este caso, 
                    perderá el valor total del Pasaje. <br><br>
                    10. El pasajero está prohibido de abordar el bus con armas de fuego o elementos punzo 
                    cortantes, así como materiales inflamables, explosivos, corrosivos, venenosos o similares. Es 
                    obligación del pasajero permitir y dar todas las facilidades al personal de la empresa para que 
                    efectúe la revisión de su equipaje de mano y de su persona. D.S. 017-2009 MTC. Asimismo, los 
                    Pasajeros con Licencia de la DICSCAMEC, deberán brindar la facilidad para que el arma sea 
                    descargada, embalada y enviada en la cabina de conductor. <br><br>
                    11. Si la Empresa suspende la prestación de sus servicios se postergarán los boletos con fecha 
                    abierta, debiendo el usuario informar a la empresa con una anticipación no menor a cinco (5) 
                    días, la fecha y hora de su próximo viaje. <br><br>
                    12. En caso de presentarse alguna eventualidad en el lugar de origen o durante el viaje, que 
                    impida la prestación del servicio, la Empresa realizará el transbordo en unidades estándar 
                    (propias o terceras.) Si por causas ajenas la Empresa se ve imposibilitada de hacer el 
                    transbordo se reembolsará el monto equivalente al tramo de viaje no recorrido. <br><br>
                    13. El pasajero tiene derecho a transportar sin costo hasta 20 kilos de equipaje, entendiéndose 
                    como tal a todos los bienes nuevos o usados, que el pasajero pueda razonablemente necesitar, 
                    siempre que se advierta que son para su uso o consumo, de acuerdo con el propósito y 
                    duración del viaje (Decreto Supremo 182-2013-EF). <br>
                    El exceso será admitido cuando la capacidad del ómnibus lo permita, previo pago de la tarifa 
                    vigente. El derecho de transportar equipaje aplica sólo para pasajeros que ocupen asiento. Es 
                    responsabilidad del pasajero la custodia de sus equipajes de mano en el salón del bus, así 
                    como del retiro de sus equipajes de la bodega del bus inmediatamente después de 
                    desembarcar, la empresa no se responsabiliza por equipajes que no han sido declarados para 
                    custodia. <br><br>
                    14. La empresa se reserva el derecho de trasladar a la bodega del vehículo todo paquete, 
                    equipaje, bulto, encomienda u otros, que se encuentren obstaculizando el tránsito en el 
                    pasadizo del salón y las puertas o salidas de emergencia del vehículo (Numeral 42.1.15 del 
                    Decreto Supremo 017-2009/MTC). <br><br>
                    15. En caso de pérdida y/sustracción de equipajes declarados en la bodega atribuibles a la empresa se le otorgará al usuario a manera de resarcimiento diez (10) veces el costo del flete pagado. En caso de pérdida y/o sustracción de equipajes no declarados en la bodega atribuibles a la empresa se aplicará lo establecido en el numeral 76.2.12 art. 76° del D.S 017-2009-MTC. <br><br>
                    16. No está permitido transportar en bodega y/o cabina, animales, armas, explosivos, 
                    inflamables, químicos y sustancias que pongan en peligro la seguridad de los pasajeros. <br><br>
                    17. Está prohibido que el pasajero traslade animales o mascotas en el salón del bus, salvo 
                    perros lazarillos debidamente acreditados en el CONADIS. <br><br>
                    18. En el caso de endosos de Boletos de viaje con precio promocional el nuevo titular del 
                    boleto de viaje deberá asumirá los gastos relacionados con la emisión del nuevo boleto. <br><br>
                    19. Los Boletos de viaje con tarifas promocionales están sujetos a restricciones, las que 
                    pueden ser visualizadas en la página web www.movilbus.pe. Para endoso o postergación se 
                    procederá al cobro de la diferencia entre el precio pagado y el precio regular, debiendo 
                    realizarse el trámite de forma presencial con 24 horas de anticipación. <br><br>
                    20. La empresa no se hace responsable de las ventas online que no se logren concretar debido 
                    a fallas en comunicación de enlace (operador de internet). <br><br>
                    21. En el caso de la remisión y/o traslado de frutas y/o vegetales sometidos a control por parte 
                    de SENASA, la empresa está obligada a restringir la remisión y/o traslado de dichos productos 
                    hospedantes de la Mosca de la Fruta, siendo una restricción de ley. <br><br>
                    22. La hora de embarque y desembarque en puntos intermedios (escalas) es referencial 
                    debido a que no es una oficina de origen y estando el bus en tránsito, está sujeto a condiciones 
                    de la vía, condiciones climáticas, condiciones de tránsito y otros factores ajenos a la empresa. <br><br>
                    23. El Servicio Ejecutivo vip puede prestarse en un bus de uno o dos pisos según disponibilidad 
                    de flota. <br><br>
                    24. Las partes convienen que las desavenencias serán resueltas de conformidad con los 
                    Reglamentos del Centro de Conciliación y Arbitraje Nacional e Internacional de la Cámara de 
                    Comercio de Lima, a cuyas normas y administración las partes se someten en forma 
                    incondicional, declarando conocerlas y aceptarlas en su integridad. <br><br>
                    25. La devolución del monto del Boleto de Viaje a solicitud del titular, podrá ser efectuada con 
                    una anticipación no menor a 24 horas de la fecha y hora del servicio, con la respectiva 
                    deducción del 20% por gastos administrativos, sobre el costo total del Boleto de Viaje 
                    mediante el correo electrónico contacto&#64;movilgroup.pe para que se otorgue el formulario de 
                    solicitud. <br><br>
                    26. Si el servicio programado no se realiza por razones atribuibles a La Empresa, el usuario 
                    podrá postergar y/o endosar su boleto de viaje o en su defecto solicitar la devolución del 
                    100% del monto pagado por el mismo, mediante el correo electrónico 
                    contacto&#64;movilgroup.pe para que se otorgue el formulario de solicitud. <br><br>
                </p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="ArrayMostrarModal['modal_alert_menor']" id="modal_alert_menor" class="fixed inset-0 z-50 flex items-center justify-center" (click)="cerrarModal('modal_alert_menor')">
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    <div class="relative bg-white w-full max-w-xl rounded-lg shadow-lg z-10" (click)="$event.stopPropagation()">
        <div class="px-6 py-4 text-sm text-gray-700">
            <div class="grid grid-cols-12">
                <div class="col-span-9 bg-white p-4 rounded-tl-lg rounded-bl-lg">
                    <p class="text-gray-800 font-bold text-xl">Se seleccionó un menor de edad</p>
                    <p class="text-gray-400 font-bold text-lg">Tener en cuenta que se debe tener una carta notarial.</p>
                </div>

                <div class="col-span-3 text-center bg-gray-300 p-4 text-4xl text-orange-500 rounded-tr-lg rounded-br-lg">
                    <i class="fad fa-times cursor-pointer" (click)="cerrarModal('modal_alert_menor')"></i>
                </div>
            </div>
        </div>
    </div>
</div>