<div class="loader"></div>

<div class="flex min-h-screen bg-gray-50 dark:bg-gray-900 dark:text-gray-100">
    <aside class="w-64 flex-shrink-0 bg-white dark:bg-gray-800 shadow-md flex flex-col">
        <div class="flex items-center px-6 py-3 border-b dark:border-gray-700">
        <img src="./../assets/img/logo-movile.png" alt="MovilBus Logo" class="h-8" />
        </div>

        <nav class="flex-1 px-4 py-6 space-y-2 text-sm">
            <a (click)="Dashboard()" class="flex items-center cursor-pointer px-3 py-2 rounded-md no-underline text-gray-700 hover:text-orange-600 dark:text-gray-200 dark:hover:bg-orange-800"><i class="fad fa-home text-gray-500 mr-1"></i> Inicio</a>

            <p class="px-3 py-2 text-xs font-bold uppercase text-gray-500">Módulos</p>

            <details class="group">
                <summary class="flex cursor-pointer items-center justify-between px-3 py-2 rounded-md text-gray-700 hover:bg-orange-100">
                    <span><i class="fad fa-tasks-alt text-gray-500 mr-1"></i> Operaciones</span>
                    <span class="icon-despegable"><i class="far fa-angle-right text-gray-500"></i></span>
                </summary>
                <ul class="mt-1 space-y-3 list-disc list-inside">
                    <li *ngIf="puedeVer('VentaReservaPasajes')"><a (click)="VentaReservaPasajes()" class="no-underline text-gray-600 hover:text-orange-600 cursor-pointer">Venta de pasajes</a></li>
                    <li *ngIf="puedeVer('ReporteVentasPasajes')"><a (click)="ReporteVentasPasajes()" class="no-underline text-gray-600 hover:text-orange-600 cursor-pointer">Reporte de Ventas</a></li>
                    <li *ngIf="puedeVer('Promociones')"><a (click)="Promociones()" class="no-underline text-gray-600 hover:text-orange-600 cursor-pointer">Promociones</a></li>
                    <li><a (click)="ConsultaBoletos()" class="no-underline text-gray-600 hover:text-orange-600 cursor-pointer">Consulta de Boletos</a></li>
                </ul>
            </details>

            <details class="group">
                <summary class="flex cursor-pointer items-center justify-between px-3 py-2 rounded-md text-gray-700 hover:bg-orange-100">
                    <span><i class="fad fa-file-chart-line text-gray-500 mr-1"></i> Reportes</span>
                    <span class="icon-despegable"><i class="far fa-angle-right text-gray-500"></i></span>
                </summary>
                <ul class="mt-1 space-y-3 list-disc list-inside">
                    <li><a href="#" class="no-underline text-gray-600 hover:text-orange-600">Operaciones</a></li>
                    <li><a href="#" class="no-underline text-gray-600 hover:text-orange-600">Seguimiento Frotcom</a></li>
                </ul>
            </details>
        </nav>

        <div class="py-3 border-t text-sm text-gray-500 text-center">
        {{anio_actual}}© MovilBus
        </div>
    </aside>

    <div class="flex-1 flex flex-col">
        <header class="flex items-center justify-between px-6 py-3 border-b bg-white dark:bg-gray-800 dark:border-gray-700">
            <div class="text-xs space-x-10">
                <span><strong class="text-orange-500 mr-1">AGENCIA:</strong> <span class="text-gray-500 font-bold">{{agencia}}</span></span>
                <span><strong class="text-orange-500 mr-1">EQUIPO:</strong> <span class="text-gray-500 font-bold">{{equipo}}</span></span>
                <span><strong class="text-orange-500 mr-1">AMBIENTE:</strong> <span class="text-gray-500 font-bold">{{ambiente}}</span></span>
                <span><strong class="text-orange-500 mr-1">LIQUIDACIÓN:</strong> <span class="text-gray-500 font-bold">{{liquidacion}}</span></span>
                <span><strong class="text-orange-500 mr-1">CANAL VENTA:</strong> <span class="text-gray-500 font-bold">{{canal_venta}}</span></span>
                <span><strong class="text-orange-500 mr-1">ROL:</strong> <span class="text-gray-500 font-bold">{{rol_actual}}</span></span>
            </div>

            <div class="relative user-dropdown">
                <button (click)="toggleMenu()" class="flex items-center space-x-2 focus:outline-none">
                    <img src="{{img_user}}" alt="User"
                        class="h-8 w-8 rounded-full border cursor-pointer" />
                </button>

                <div *ngIf="showMenu" class="absolute right-0 mt-2 w-56 bg-white dark:bg-gray-800 shadow-lg rounded-lg p-4 text-sm animate-fade-in text-right">
                    <p class="mb-1"><span class="text-xs font-semibold mr-2">{{nombre_corto}}</span> <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 inset-ring inset-ring-green-600/20">Activo</span></p>
                    <p class="text-xs text-gray-500 dark:text-gray-300">{{email_usuario}}</p>
                    <hr class="border-gray-300 dark:border-gray-700" />
                    <!--<button (click)="toggleTheme()" class="mt-2 w-full px-3 py-1 text-sm rounded bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600">Cambiar Tema</button>-->

                    <button class="text-gray-500 hover:text-red-500" (click)="CerrarSesion()">Cerrar Sesión</button>
                </div>
            </div>

        </header>

        <router-outlet></router-outlet>
    </div>
</div>