h3{
    color: #ff6719;
}
.cab1{
    background-color: white;      /*#E6E6E6*/
    /*border-top: #bfbfbf 2px solid;*/
    padding-top: 7px;
    padding-bottom: 3px;
}
.border_table_head{
    background-color: #dddddd;
    border: 1px #a3a3a3 solid;
    font-size: 13px;
    color: #595959;
}
.border_table_body{
    background-color: #f7f7f7;
    border: 1px #a3a3a3 solid;
    font-size: 12px;
    /*color: #6d6d6d;*/
}
.hidden_border_bottom{
    border-bottom: hidden;
}

/* ? ************** NUEVOS 1 ***************/
.tr_viaje {
    background-color: rgba(209, 231, 221, 0.7) !important; /* #d1e7dd */
}

.tr_confirmacion {
    background-color: rgba(209, 231, 221, 0.7) !important; /* #d1e7dd */
}

.tr_anulacion {
    background-color: rgba(248, 215, 218, 0.7) !important; /* #f8d7da */
}

.tr_nota_credito {
    background-color: rgba(255, 243, 205, 0.7) !important; /* #fff3cd */
}

.tr_postergacion {
    background-color: rgba(207, 226, 255, 0.7) !important; /* #cfe2ff */
}

/* ? ************** NUEVOS 2 ***************/
.toggle_seleccion > td{
    background-color: #ff6719 !important;       /*7239EA*/ /*0d6efd*/
    color: #ffffff;
}

.text-small {
  font-size: 12px !important;
}

@media only screen and (max-width: 500px) {
    .format_p{
        width: 100%; 
        text-align: justify; 
        margin: 0 auto;
    }
}