.message_submensaje{
    background-color: #ececec !important; 
    border-radius: 0.75rem !important; 
    width: 15rem !important; 
    height: 2.35rem !important;
}
.border-bus{
    border: 1px solid #bebebe; 
    border-radius: 1.5rem;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 2%;
}
.fila_asientos{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    height: 3.3rem; 
    -webkit-box-pack: justify; 
    justify-content: space-between;
    margin-bottom: 7px;
    padding-left: 14px;
    padding-right: 15px;
}
.grupo_asientos{
    display: flex; 
    flex-direction: row;
    width: 40%; 
    height: 100%; 
    -webkit-box-pack: justify; 
    justify-content: space-between;
}
.casilla_asiento{
    position: relative; 
    display: flex; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    width: 3.5rem; 
    border-radius: 0.5rem; 
    border-width: 5px; 
    background: rgb(255, 255, 255); 
    color: rgb(77, 77, 77);     /*rgb(0, 80, 151)*/
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 3px; 
    transform: none; 
    transition: all 0.2s ease 0s;
    cursor: pointer;

    margin: 6px;
}
.casilla_asiento_imbatible{
    position: relative; 
    display: flex; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    width: 3.5rem; 
    border-radius: 0.5rem; 
    border-width: 5px; 
    background: #FFB234; 
    color: #ffffff;     /*rgb(0, 80, 151)*/
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 3px; 
    transform: none; 
    transition: all 0.2s ease 0s;
    cursor: pointer;

    margin: 6px;
}
.casilla_asiento_num_asiento_imbatible{
    border-bottom: 1px solid #ccc; 
    border-bottom-left-radius: 0.3rem; 
    border-bottom-right-radius: 0.3rem; 
    color: #FFB234;
    background-color: white;
}
.casilla_asiento_ecominterno{
    position: relative; 
    display: flex; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    width: 3.5rem; 
    border-radius: 0.5rem; 
    border-width: 5px; 
    background: #ff3434; 
    color: #ffffff;     /*rgb(0, 80, 151)*/
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 3px; 
    transform: none; 
    transition: all 0.2s ease 0s;
    cursor: pointer;

    margin: 6px;
}
.casilla_asiento_num_asiento_ecominterno{
    border-bottom: 1px solid #ccc; 
    border-bottom-left-radius: 0.3rem; 
    border-bottom-right-radius: 0.3rem; 
    color: #ff3434;
    background-color: white;
}
.casilla_asiento_num_asiento{
    border-bottom: 1px solid #ccc; 
    border-bottom-left-radius: 0.3rem; 
    border-bottom-right-radius: 0.3rem; 
    color: rgb(140, 140, 140);
    background-color: white;
}
.casilla_asiento_seleccionado .casilla_asiento_num_asiento{
    background-color: white;
    color: #ff6719; 
}
.casilla_asiento_seleccionado_imbatible .casilla_asiento_num_asiento_imbatible{
    background-color: white;
    color: #ff6719; 
}
.casilla_asiento_seleccionado_ecominterno .casilla_asiento_num_asiento_ecominterno{
    background-color: white;
    color: #ff6719; 
}

.casilla_asiento_seleccionado{
    position: relative; 
    display: flex; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    width: 3.5rem; 
    border-radius: 0.5rem; 
    border-width: 5px; 
    background: rgb(255, 103, 25);  /*rgb(239, 151, 35)*/   /*rgb(249 196 52)*/
    color: #ffffff; 
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 3px; 
    transform: none; 
    transition: all 0.2s ease 0s;
    cursor: pointer;
    margin: 6px;
}

.casilla_asiento_seleccionado_imbatible{
    position: relative; 
    display: flex; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    width: 3.5rem; 
    border-radius: 0.5rem; 
    border-width: 5px; 
    background: rgb(255, 103, 25);  /*rgb(239, 151, 35)*/   /*rgb(249 196 52)*/
    color: #ffffff; 
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 3px; 
    transform: none; 
    transition: all 0.2s ease 0s;
    cursor: pointer;
    margin: 6px;
}

.casilla_asiento_seleccionado_ecominterno{
    position: relative; 
    display: flex; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    width: 3.5rem; 
    border-radius: 0.5rem; 
    border-width: 5px; 
    background: rgb(255, 103, 25);  /*rgb(239, 151, 35)*/   /*rgb(249 196 52)*/
    color: #ffffff; 
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 3px; 
    transform: none; 
    transition: all 0.2s ease 0s;
    cursor: pointer;
    margin: 6px;
}

.casilla_asiento_vacio{
    position: relative; 
    display: flex; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    width: 3.5rem; 
    border-radius: 0.5rem; 
    border-width: 5px; 
    transform: none; 
    transition: all 0.2s ease 0s;
}

.numero_asiento{
    position: absolute; 
    top: -0.5rem; 
    right: -0.5rem; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    font-weight: bold; 
    background-color: rgb(122, 146, 176);
    font-size: 10px; 
    color: white; 
    border-radius: 100%;
    height: 1.2rem;
    width: 1.2rem;
}

.precio_asiento{
    font-size: 0.72rem; 
    font-weight: 700;
}

.espacio_en_blanco{
    display: flex; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    width: 3.5rem;         /*width: 30%; */
    height: 100%;
}

.grupo_unitario{
    display: flex; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    width: 3.5rem;         /*width: 30%; */
    height: 100%;
}

#confirmacion_asientos{
    display: none;
}

#espaciador{
    display: none;
}

.confirmacion_asientos{
    position: fixed; 
    left: 0; 
    bottom: 0; 
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 15px; 
    width: 100%; 
    background-color: white; 
    text-align: center;
}

.asiento_lleno{
    background-color: rgb(230, 230, 230);  /*rgb(211, 222, 230)*/ 
    cursor: not-allowed; 
    color: white;
}

.div_cuerpo{
    padding-top: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 1rem;
}

.icon_detalle{
    color: #595959; 
    font-size: 14px; 
    float: left; 
    margin-right: 19px;
}

#btn_desktop_confirm_asient{
    display: none;
}

.cont_ciudad{
    font-size: 1em; 
    font-weight: 500; 
    display: inline-block; 
    margin: 0px; 
    line-height: normal; 
    margin-bottom: 10px;
}

.cont_pasajeros{
    font-size: 0.9em; 
    font-weight: 500; 
    display: inline-block; 
    margin: 0px; 
    line-height: normal; 
    color: rgb(32, 65, 90);
}

.cont_precio_asiento{
    text-align: right; 
    font-size: 0.9em; 
    font-weight: 400; 
    display: inline-block; 
    margin: 0px; 
    line-height: normal;
}

.text_total{
    font-size: 1em; 
    font-weight: 500; 
    display: inline-block; 
    margin: 0px; 
    line-height: normal; 
    color: rgb(32, 65, 90);
}

.text_tasa_impuestos{
    color: rgb(109, 139, 161); 
    font-size: 0.7em; 
    font-weight: 400; 
    display: inline-block; 
    margin: 0px; 
    line-height: normal;
}

.cont_precio_total{
    text-align: right; 
    font-size: 1em; 
    font-weight: 500; 
    display: inline-block; 
    margin: 0px; 
    line-height: normal; 
    color: rgb(32, 65, 90);
}

@media only screen and (max-width: 500px) {
    
}