<div class="mt-3 mb-1 pl-7">
    <div class="flex flex-col justify-center flex-wrap">
        <span class="text-gray-900 dark:text-gray-100 font-bold text-lg my-0">Menú Principal</span>
        <p class="text-xs text-gray-500 dark:text-gray-400 font-medium pt-1">Operaciones - Venta y Reserva de Pasajes</p>
    </div>
</div>

<div class="w-full mb-2">
    <div class="flex">
        <div class="w-full md:w-10/12 xxl:w-8/12 px-4 pl-7 pt-5">
            <div id="div_confirmar_pasaje" class="grid gap-5 xl:gap-5">
                <div class="text-2xl font-bold text-orange-600 underline md:w-7/12">{{titulo_confirmar_pasaje}}</div>
                <div class="w-12/12">
                    <div class="bg-white rounded-lg shadow">
                        <div class="border border-gray-300">
                            <div class="w-10/12 div_servicio_cpas">
                                <div class="mt-2 text-left">
                                    <div class="servicio_cpas">
                                        Servicio 
                                        <span class="servicio_detall_cpas">{{servicioIda}}</span>
                                        <div class="icon_detalle_cpas">
                                            <span class="font-bold">Ida</span>&nbsp;
                                            <i class="fal fa-calendar-check"></i>&nbsp;{{this.funcionesService.convert_format_fecha_barra(fechaEmbarqueIda)}}
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-2.5 grid grid-cols-12">
                                    <div class="col-span-5 flex flex-col text-center">
                                        <span class="font_ruta_cpas">{{nombre_ciudad_origen}}</span>
                                    </div>
                                    <div class="col-span-2 text-center">
                                        <i class="fal fa-long-arrow-right icon_flecha_cpas"></i>
                                    </div>
                                    <div class="col-span-5 flex flex-col text-center">
                                        <span class="font_ruta2_cpas">{{nombre_ciudad_destino}}</span>
                                    </div>
                                </div>

                                <div class="grid grid-cols-12 -mt-3">
                                    <div class="col-span-5 flex flex-col text-center">
                                        <span class="dat_salida_embar_cpas">Embarque</span>
                                        <span class="dat_hora_embar_cpas">{{horaEmbarqueIda}} h</span>
                                    </div>
                                    <div class="col-span-2 text-center">&nbsp;</div>
                                    <div class="col-span-5 flex flex-col text-center">
                                        <span class="dat_llegada_desem_cpas">Desembarque</span>
                                        <span class="dat_hora_desem_cpas">{{horaDesembarqueIda}} h</span>
                                    </div>
                                </div>
                            </div>

                            <div class="w-10/12 margin_embarque_desembarque_cpas">
                                <div class="grid grid-cols-12">
                                    <div class="col-span-5 flex flex-col text-center">
                                        <span class="dat_salida_embar_detall_cpas">{{agenciaEmbarqueIda}}</span>
                                    </div>
                                    <div class="col-span-2 text-center">&nbsp;</div>
                                    <div class="col-span-5 flex flex-col text-center">
                                        <span class="dat_llegada_desem_detall_cpas">{{agenciaDesembarqueIda}}</span>
                                    </div>
                                </div>
                            </div>

                            <table class="mt-2 w-full border-collapse">
                                <thead class="border_table_head_cpas">
                                    <tr>
                                        <th class="text-center border_table_head_cpas">#</th>
                                        <th class="text-center border_table_head_cpas">Nombre del Pasajero</th>
                                        <th class="text-center border_table_head_cpas">Nro Asiento</th>
                                        <th class="text-center border_table_head_cpas">Precio Pasaje</th>
                                        <th class="text-center border_table_head_cpas">Nombre Promoción</th>
                                        <th class="text-center border_table_head_cpas">Descuento Promoción</th>
                                    </tr>
                                </thead>
                                <tbody class="border_table_body_cpas">
                                    <tr class="border_table_body_cpas" *ngFor="let arrayDatos of subArrayFinal; index as i;">
                                        <td class="text-center border_table_body_cpas">{{i+1}}</td>
                                        <td class="text-center border_table_body_cpas">
                                            <i class="fad fa-user text-gray-600"></i>&nbsp;
                                            {{arrayDatos['ventaIda']['pasajero']['nombre']}}&nbsp;{{arrayDatos['ventaIda']['pasajero']['apePaterno']}}&nbsp;{{arrayDatos['ventaIda']['pasajero']['apeMaterno']}}
                                        </td>
                                        <td class="text-center border_table_body_cpas">
                                            <i class="fad fa-chair-office text-green-600"></i>&nbsp; {{arrayDatos['ventaIda']['nroAsiento']}}
                                        </td>
                                        <td class="text-center border_table_body_cpas">S/. {{arrayDatos['ventaIda']['impPagado']}}</td>
                                        <td class="text-center border_table_body_cpas">
                                            <span *ngIf="arrayDatos['ventaIda']['namePromocion'] == null || arrayDatos['ventaIda']['namePromocion'] == ''">-</span>
                                            <span *ngIf="arrayDatos['ventaIda']['namePromocion'] != null || arrayDatos['ventaIda']['namePromocion'] != ''">{{arrayDatos['ventaIda']['namePromocion']}}</span>
                                        </td>
                                        <td class="text-center border_table_body_cpas">
                                            <span *ngIf="arrayDatos['ventaIda']['descuento'] == 0">-</span>
                                            <span *ngIf="arrayDatos['ventaIda']['descuento'] != 0">{{arrayDatos['ventaIda']['descuento']}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="ida_vuelta == 2" class="w-12/12">
                    <div class="bg-white rounded-lg shadow">
                        <div class="border border-gray-300">
                            <div class="w-10/12 div_servicio_cpas">
                                <div class="mt-2 text-left">
                                    <div class="servicio_cpas">
                                        Servicio 
                                        <span class="servicio_detall_cpas">{{servicioVuelta}}</span>
                                        <div class="icon_detalle_cpas">
                                            <span class="font-bold">Ida</span>&nbsp;
                                            <i class="fal fa-calendar-check"></i>&nbsp;{{this.funcionesService.convert_format_fecha_barra(fechaEmbarqueVuelta)}}
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-2.5 grid grid-cols-12">
                                    <div class="col-span-5 flex flex-col text-center">
                                        <span class="font_ruta_cpas">{{nombre_ciudad_destino}}</span>
                                    </div>
                                    <div class="col-span-2 text-center">
                                        <i class="fal fa-long-arrow-right icon_flecha_cpas"></i>
                                    </div>
                                    <div class="col-span-5 flex flex-col text-center">
                                        <span class="font_ruta2_cpas">{{nombre_ciudad_origen}}</span>
                                    </div>
                                </div>

                                <div class="grid grid-cols-12 -mt-3">
                                    <div class="col-span-5 flex flex-col text-center">
                                        <span class="dat_salida_embar_cpas">Embarque</span>
                                        <span class="dat_hora_embar_cpas">{{horaEmbarqueVuelta}} h</span>
                                    </div>
                                    <div class="col-span-2 text-center">&nbsp;</div>
                                    <div class="col-span-5 flex flex-col text-center">
                                        <span class="dat_llegada_desem_cpas">Desembarque</span>
                                        <span class="dat_hora_desem_cpas">{{horaDesembarqueVuelta}} h</span>
                                    </div>
                                </div>
                            </div>

                            <div class="w-10/12 margin_embarque_desembarque_cpas">
                                <div class="grid grid-cols-12">
                                    <div class="col-span-5 flex flex-col text-center">
                                        <span class="dat_salida_embar_detall_cpas">{{agenciaEmbarqueVuelta}}</span>
                                    </div>
                                    <div class="col-span-2 text-center">&nbsp;</div>
                                    <div class="col-span-5 flex flex-col text-center">
                                        <span class="dat_llegada_desem_detall_cpas">{{agenciaDesembarqueVuelta}}</span>
                                    </div>
                                </div>
                            </div>

                            <table class="mt-2 w-full border-collapse">
                                <thead class="border_table_head_cpas">
                                    <tr>
                                        <th class="text-center border_table_head_cpas">#</th>
                                        <th class="text-center border_table_head_cpas">Nombre del Pasajero</th>
                                        <th class="text-center border_table_head_cpas">Nro Asiento</th>
                                        <th class="text-center border_table_head_cpas">Precio Pasaje</th>
                                        <th class="text-center border_table_head_cpas">Nombre Promoción</th>
                                        <th class="text-center border_table_head_cpas">Descuento Promoción</th>
                                    </tr>
                                </thead>
                                <tbody class="border_table_body_cpas">
                                    <tr class="border_table_body_cpas" *ngFor="let arrayDatos of subArrayFinal; index as i;">
                                        <td class="text-center border_table_body_cpas">{{i+1}}</td>
                                        <td class="text-center border_table_body_cpas">
                                            <i class="fad fa-user text-gray-600"></i>&nbsp;
                                            {{arrayDatos['ventaVuelta']['pasajero']['nombre']}}&nbsp;{{arrayDatos['ventaVuelta']['pasajero']['apePaterno']}}&nbsp;{{arrayDatos['ventaVuelta']['pasajero']['apeMaterno']}}
                                        </td>
                                        <td class="text-center border_table_body_cpas">
                                            <i class="fad fa-chair-office text-green-600"></i>&nbsp; {{arrayDatos['ventaVuelta']['nroAsiento']}}
                                        </td>
                                        <td class="text-center border_table_body_cpas">S/. {{arrayDatos['ventaVuelta']['impPagado']}}</td>
                                        <td class="text-center border_table_body_cpas">
                                            <span *ngIf="arrayDatos['ventaVuelta']['namePromocion'] == null || arrayDatos['ventaVuelta']['namePromocion'] == ''">-</span>
                                            <span *ngIf="arrayDatos['ventaVuelta']['namePromocion'] != null || arrayDatos['ventaVuelta']['namePromocion'] != ''">{{arrayDatos['ventaVuelta']['namePromocion']}}</span>
                                        </td>
                                        <td class="text-center border_table_body_cpas">
                                            <span *ngIf="arrayDatos['ventaVuelta']['descuento'] == 0">-</span>
                                            <span *ngIf="arrayDatos['ventaVuelta']['descuento'] != 0">{{arrayDatos['ventaVuelta']['descuento']}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="w-12/12">
                    <div class="border border-gray-300 rounded-lg shadow-sm bg-white">
                        <div class="p-4">
                            <div class="border-0 flex items-center">
                                <h3 class="flex flex-col items-start">
                                    <span class="font-bold mb-2 text-gray-900">Grabación de Venta:</span>
                                </h3>
                            </div>

                            <div class="pt-2 text-left">
                                <div class="space-y-6">
                                    <div class="flex items-start">
                                        <div class="text-center font-bold text-gray-800 text-base"></div>
                                        <div class="mx-1">
                                            <i class="fa fa-genderless text-green-600 text-2xl"></i>
                                        </div>
                                        <div class="pl-2 text-gray-600 text-sm">
                                            A continuación realizaremos la grabación del servicio que está contratando, 
                                            le pedimos darnos la conformidad al finalizar la lectura, ya que sus pasajes serán emitidos con estos datos:
                                        </div>
                                    </div>

                                    <div class="flex items-start">
                                        <div class="text-center font-bold text-gray-800 text-base"></div>
                                        <div class="mx-1">
                                            <i class="fa fa-genderless text-green-600 text-2xl"></i>
                                        </div>
                                        <div id="texto_venta_pasaje" class="pl-2 text-gray-600 text-sm"></div>
                                    </div>

                                    <div class="flex items-start">
                                        <div class="text-center font-bold text-gray-800 text-base"></div>
                                        <div class="mx-1">
                                            <i class="fa fa-genderless text-green-600 text-2xl"></i>
                                        </div>
                                        <div class="pl-2 text-gray-600 text-sm">
                                            ¿Todo conforme?
                                        </div>
                                    </div>

                                    <div class="flex items-start">
                                        <div class="text-center font-bold text-gray-800 text-base"></div>
                                        <div class="mx-1">
                                            <i class="fa fa-genderless text-green-600 text-2xl"></i>
                                        </div>
                                        <div class="pl-2 text-gray-600 text-sm">
                                            Recuerde que debe presentarse <b>30 minutos antes de la salida del bus</b>, portando 
                                            <b>DNI físico y boleto (Físico o digital)</b>.<br>
                                            Su equipaje en mano <b>no debe exceder los 8 kg y en bodega los 20 kg</b>. 
                                            Ambos deben de ser exclusivo de uso personal.
                                        </div>
                                    </div>

                                    <div class="flex items-start">
                                        <div class="text-center font-bold text-gray-800 text-base"></div>
                                        <div class="mx-1">
                                            <i class="fa fa-genderless text-green-600 text-2xl"></i>
                                        </div>
                                        <div class="pl-2 text-gray-600 text-sm">
                                            *Está restringido el embarque con alimentos. Solo se permitirá el embarque con snacks y/o bebidas selladas 
                                            (galletas, agua o frutas), teniendo en cuenta que no contamos con tripulante a bordo.<br><br>
                                            Asimismo, los boletos de viaje, junto con los protocolos para el embarque, 
                                            <b>serán enviados al correo electrónico: {{emailCliente}}</b>, 
                                            que fue otorgado durante el proceso de compra después de realizado el pago según el método del pago elegido.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-12/12">
                    <div class="w-full mb-5">
                        <div class="pb-4">
                            <h3 class="flex flex-col items-start">
                                <span class="font-bold mb-2 text-gray-900 text-base">Observaciones:</span>
                                <span class="text-gray-500 font-semibold text-sm">* Agregar teléfono de comunicación (Obligatorio)</span>
                            </h3>
                        </div>
                        <textarea id="texto_observaciones" rows="7" maxlength="299" class="resize-none border border-gray-400 text-gray-600 w-full rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500 p-2"></textarea>
                    </div>

                    <div class="w-full mb-5">
                        <div class="border border-gray-400 rounded-md shadow-sm">
                            <div class="pt-5 text-center text-gray-600 pb-5">¿Contamos con dos métodos de pagos?</div>
                        </div>
                    </div>

                    <div class="w-full mb-5">
                        <div class="flex justify-center">
                            <div id="div_pago_tarjetas" class="w-1/2">
                                <div class="border border-gray-300 rounded-md shadow-sm overflow-hidden">
                                    <div class="bg-gray-300 text-gray-600 font-bold text-xs py-6 px-2 text-center">
                                        <b class="text-gray-800">Pago Link:</b>
                                        Es un enlace de pago seguro de IziPay que le llegará a través de su correo electrónico, en este enlace deberá ingresar los datos de su tarjeta para la cancelación del importe total de sus pasajes, el importe le aparecerá de forma automática.
                                    </div>
                                    <div class="bg-white flex justify-center py-4"><img alt="image_pago_tarjetas" class="w-7/12" src="./assets/img/billetera_digital_pagos.png"></div>
                                    <div id="btn_pague_payment" (click)="pagarPaymentPagoEfectivo(4)" class="bg-orange-600 text-white text-lg font-bold py-3 text-center cursor-pointer">Generar enlace de pago</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full mb-5">
                        <div id="card_pagolink" class="border border-blue-400 rounded-md shadow-sm cursor-pointer hidden" data-toggle="tooltip" title="Click para copiar" (click)="clickParaCopiarPagoLink()">
                            <div class="flex items-center px-12 py-5">
                                <div class="text-center w-full">
                                    <span id="texto_card_pagolink0" class="text-base text-blue-600">URL PagoLink:</span>&nbsp;
                                    <span id="texto_card_pagolink" class="text-base underline text-blue-600">{{linkPagoLink}}</span>&nbsp;&nbsp;
                                    <i class="fad fa-copy" id="icono1_card_pagolink" class="text-lg text-blue-600"></i>
                                    <i class="fad fa-check-circle hidden" id="icono2_card_pagolink" class="text-lg text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="btn_atras" class="w-full md:w-2/12 xxl:w-4/12 px-4 pt-32 items-center">
            <button (click)="btn_atras()" class="inline-flex items-center gap-2 px-3 py-2 text-sm font-medium text-white bg-gray-600 rounded-lg hover:bg-gray-700">
                <i class="fad fa-chevron-left"></i> ATRÁS
            </button>
        </div>

        <div id="btn_nueva_venta" class="w-full md:w-2/12 xxl:w-4/12 px-4 pt-32 items-center hidden">
            <button (click)="btn_nuevo()" class="inline-flex items-center gap-2 px-3 py-2 text-sm font-medium text-white bg-gray-600 rounded-lg hover:bg-gray-700">
                <i class="fad fa-chevron-left"></i> NUEVA VENTA
            </button>
        </div>
    </div>
</div>